<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title>Gone Fishing</title>
  <!-- <link rel="stylesheet" type="text/css" media="screen" href="css/master.css" /> -->
  <script type="text/javascript" src="/jquery-1.4.4.min.js"></script>
  <script type="text/javascript" src="/jquery-ui-1.8.7.min.js"></script>
  <script>
    $(function() {
      var highlight_between_ids = function(from, to) {
        sorted_ids = [parseInt(from, 10), parseInt(to, 10)].sort();
        for(id = sorted_ids[0]; id <= sorted_ids[1]; id += 1) {
          $("#"+id).addClass("vacation");
        }
      };
      var show_count = function() {
        $("#count").text($(".vacation").not(".weekend").length);
      }
      var dragging;
      $("li").draggable({
        opacity: 0.7,
        helper: "clone",
        start: function(event, ui) {
          dragging = $(this);
        }
      });
      $("li").droppable({
          hoverClass: 'drophover',
          over: function(event, ui) {
            highlight_between_ids($(".drophover").attr("id"), $(dragging).attr("id"));
            show_count();
          }
      });
    });
  </script>
  <style type="text/css">
    li { text-align:center; padding: 5px 8px; border-right: 1px solid #000; cursor: default; width:20px; float:left; }
    .weekend { background-color:#F8B85F; }
    .vacation { background-color:red; !important }
    #count { margin-top:50px; clear: left; font-size:6em; font-family: Helvetica, Arial, 'sans-serif'}
    ul { list-style-type:none; clear: left; border-top: 1px solid #000; }
    ul:last-child { border-bottom: 1px solid #000; }
  </style>
</head>
<body>
  <% (1..12).each do |month| %>
    <ul id="<%= "#{Time.now.year}#{"%02d" % month}" %>">
      <% (1..31).each do |day| %>
        <% current_date = Time.mktime(Time.now.year, month, day) %>
        <% break if current_date.day != day %>
        <li id="<%= "#{Time.now.year}#{"%02d" % month}#{"%02d" % day}" %>" class="<%= "weekend" if [0,6].include?(current_date.wday) %>"><%= day %></li>
      <% end %>
    </ul>
  <% end %>
  <div id="count"></div>
</body>
</html>