<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title>Recharge</title>
  <link rel="stylesheet" type="text/css" media="screen" href="/recharge.css" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <script type="text/javascript" src="/jquery-1.4.4.min.js"></script>
  <script type="text/javascript" src="/jquery-ui-1.8.7.min.js"></script>
  <script type="text/javascript" src="/raphael-min.js"></script>
  <script>
    $(function() {
      var logo = Raphael("logo", 70, 30);
      logo.rect("5","5","40","20","1").attr({"stroke-width": '2'});
      logo.rect("45","11","4","8").attr({"stroke-width": '2'});
      var fill = logo.rect("8", "8", "1", "14").attr({fill: '#000'});
      fill.animate({width: '20'}, 1000);

      var mark_vacation = function(fn) {
        return function() {
          fn.apply(this, arguments);
          update_count();
        }
      };
      var highlight_between_ids = function(from, to) {
        sorted_ids = [parseInt(from, 10), parseInt(to, 10)].sort();
        $(".vacation_drag").removeClass("vacation_drag");
        for(id = sorted_ids[0]; id <= sorted_ids[1]; id += 1) {
          $("#"+id).addClass("vacation_drag");
        }
      };
      var update_count = function() {
        var count = $(".vacation,.vacation_drag").not(".weekend,.holiday.active").length;
        $("#count").text(count);
        if (count == 0) {
          $("#save").attr('disabled', 'disabled');
        } else {
          $("#save").attr('disabled', '');
        }
      };
      var dragging;
      $("td").draggable({
        opacity: 0.7,
        helper: "clone",
        appendTo: 'body',
        start: function(event, ui) {
          dragging = $(this);
        },
        stop: mark_vacation(function() {
          $(".vacation_drag").removeClass("vacation_drag").addClass("vacation");
        })
      });
      $("td").droppable({
          hoverClass: 'drophover',
          over: mark_vacation(function() {
            highlight_between_ids($(".drophover").attr("id"), $(dragging).attr("id"));
          }),
          drop: mark_vacation(function() {
            $(".vacation_drag").removeClass("vacation_drag").addClass("vacation");
          })
      });
      $("td").click(mark_vacation(function(e) {
        if (e.shiftKey && $(this).hasClass("holiday")) {
          $(this).toggleClass("active");
        } else {
          $(this).toggleClass("vacation");
        }
      }));
      $("#save").click(function() {
        $.ajax({
          type: 'POST',
          dataType: 'json',
          data: {
            vacation: {
              2011: $.makeArray($(".vacation").map(function() {
                return $(this).attr("id");
              }))
            },
            holidays: {
              2011: $.makeArray($(".holiday.active").map(function() {
                return $(this).attr("id");
              }))
            },
            _csrf: "<%= csrf_token %>"
          },
          success: function(data) {
            location.href = data.url;
          }
        });
      });
      update_count();
    });
  </script>
</head>
<body>
  <h1 id="logo">Recharge</h1>
  <%= calendar_for(Time.now.year, vacation, holidays) %>
  <div id="footer">
    <div id="count"></div>
    <button id="save"><%= button_label %></button>
  </div>
</body>
</html>