body {
  font-family: 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  padding:30px;
  background:url(background.jpg) repeat-y center;
}

.wrapper {
  background:white;
  padding-top:0;
  padding-bottom:50px;
  border-radius: 4px;
  -moz-box-shadow:4px 4px 4px rgba(0,0,0,0.4);
  -webkit-box-shadow:4px 4px 4px rgba(0,0,0,0.4);
}

h1 {
  text-align:center;
  text-shadow:1px 1px 0 #CCCCCC;
  font-size:2.5em;
  margin-top:0;
  padding:50px 0;
}

td {
  text-align:center;
  padding: 5px 8px;
  margin:0;
  cursor: default;
  width:20px;
}

.holiday {
  text-decoration:underline;
}

.vacation,.vacation_drag {
  /* http://www.colourlovers.com/print/trends/magazines/7870/eye_-_78 */
  background-color:#FCA44B;
}

.holiday.active {
  background-color:#CDE8D5;
}

.friday {
  border-right:3px solid #a00;
}

.monday {
  border-left:3px solid #a00;
}

#elements {
  position:absolute;
  top:50px;
  left: 100px;
  width:600px;
}

#counter {
  float:left;
  background-color:#fceea5;
  background:url(post-it.png) no-repeat;
  height:175px;
  width:175px;
  margin-right:30px;
}

#count {
  font-size:6em;
  width:125px;height:125px;
  text-align:center;
  padding:30px;
}

#save {
  display:block;
  margin-bottom:10px;
}

#actions {
  padding-top:80px;
}

tr {
  list-style-type:none;
  clear: left;
  padding:0;
  margin:0;
}

th {
  padding: 0 10px;
}

th,td {
  border: 1px solid #999;
}

table {
  margin: 50px auto 0 auto;
  border-collapse: collapse;
}

#next, #previous {
  display:block;
  float:left;
  padding:10px;
  margin:0 20px;
}

#next {
  text-align:right;
  float:right;
}

a.btn {
  text-decoration:none;
}
